/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
* {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}
/* Variables */
:root {
  --main-color: #f2aa4c;
  --body-color: #101820;
  --container-color: #192838;
  --heading-color: #1e2938;
  --box-color: ;
  --bg-color: #fff;
}
body {
  color: var(--bg-color);
  background: var(--body-color);
}
img {
  width: 100%;
}
section {
  padding: 3rem 0 2rem;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  max-width: 960px;
  margin: auto;
  width: 100%;
}
/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: #182430;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.logo {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--main-color);
}
.logo:hover {
  color: var(--main-color);
}
.navbar {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 0;
}
.nav-link {
  font-size: 0.94rem;
  padding: 4px 8px;
  border-radius: 0.2rem;
  color: var(--bg-color);
}
.nav-link:hover {
  color: var(--main-color);
  background: var(--container-color);
  transition: 0.3s all linear;
}
/* Menu Icon */
.menu-icon {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5px;
  cursor: pointer;
  z-index: 200;
  transition: 0.3s;
}
.menu-icon div {
  display: block;
  background: var(--bg-color);
  height: 2px;
  width: 24px;
  transition: 0.3s;
}
.move .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}
.move .line2 {
  opacity: 0;
}
.move .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}
/* Home */
.home {
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 7rem;
}
.home-content {
  position: relative;
  max-width: 600px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: #f1ab41;
  overflow: hidden;
  margin-bottom: 2rem;
}
.home-img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  object-position: center;
}
.home-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.home-text h3 {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-size: 1.1rem;
  color: var(--main-color);
}
.home-text h3::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  left: -15px;
  width: 20px;
  height: 2px;
  background: var(--main-color);
}
.home-text h3::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  right: -35px;
  width: 20px;
  height: 2px;
  background: var(--main-color);
}
.home-text h2 {
  font-size: 3.5rem;
  line-height: 4.8rem;
}
.home-text p {
  font-size: 0.938rem;
  margin-bottom: 1.5rem;
}
.home-text .color {
  color: var(--main-color);
}
.social {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.social .bx {
  font-size: 1.3rem;
  padding: 10px;
  border-radius: 50%;
  color: var(--bg-color);
  background: var(--container-color);
}
.social .bx:hover {
  background: #e88f1a;
  transition: 0.3s all linear;
}
/* Heading */
.heading {
  font-family: Poppins;
  font-size: 5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--heading-color);
  text-align: center;
  margin-bottom: 2rem;
}
.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.about-data span {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--main-color);
}
.about-data h2 {
  font-size: 2rem;
  line-height: 2.6rem;
  font-weight: 700;
  margin: 1rem 0;
}
.btn {
  font-size: 0.97rem;
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  color: var(--bg-color);
  background: var(--main-color);
  padding: 12px 16px;
  border-radius: 0.4rem;
  margin-top: 1rem;
}
.btn:hover {
  background: var(--main-color);
}
.about-text p {
  font-size: 0.938rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: justify;
  margin-bottom: 1.5rem;
}
.about-text .pg-1 {
  margin-top: 2.25rem;
}
/* Skill */
.skill-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.skill-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px;
  background: var(--container-color);
  border-radius: 0.4rem;
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.skill-box:hover {
  transform: scale(1.05);
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.skill-box .bx {
  font-size: 1.4rem;
  padding: 10px;
  color: var(--main-color);
  border-radius: 5rem;
  border: 2px dashed var(--bg-color);
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.skill-box h2 {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0.5rem 0;
  color: var(--main-color);
}
/* Experience */
.experience-data-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px;
  margin-bottom: 1.5rem;
  background: var(--container-color);
  border-radius: 0.4rem;
}
.experience-data-box .bx {
  font-size: 3rem;
  background: #17212b;
  border-radius: 50%;
  padding: 10px;
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.experience-data-box .bx:hover {
  background: #e88f1a;
  transition: 0.3s all linear;
  transform: rotate(-25deg) scale(1.05);
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.experience-data-box .color {
  color: var(--main-color);
}
.experience-data-box h2 {
  font-size: 2rem;
  margin: 0.15rem 0 0.5rem;
}
.experience-data-box p {
  font-size: 0.94rem;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 0.75rem;
}
.projects-milestone {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 1rem;
  justify-content: center;
}
.projects-milestone-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px;
  background: var(--container-color);
  border-radius: 0.4rem;
}
.projects-milestone-box span {
  font-size: 0.94rem;
}
/* Projects */
.projects-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.projects-box {
  position: relative;
  width: 100%;
  height: 320px;
  border-radius: 1rem;
  overflow: hidden;
}
.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.project-overlay {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: hsl(234, 45%, 16%, 0.7);
}
.project-overlay .bx {
  color: var(--bg-color);
  background: var(--main-color);
  padding: 10px;
  border-radius: 7px;
  font-size: 2.7rem;
  transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.project-overlay .bx:hover {
  transform: rotate(-15deg) scale(1.05);
  transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.projects-box:hover .project-overlay {
  top: 0;
  transition: 0.5s all ease 0s;
}
/* Contact */
.contact-form {
  max-width: 600px;
  margin: auto;
  width: 100%;
  display: grid;
  row-gap: 0.8rem;
}
.contact-form input,
.contact-form textarea {
  padding: 0.6rem;
  font-size: 0.85rem;
  color: var(--bg-color);
  background: var(--container-color);
  outline: none;
  border: none;
  border-radius: 0.3rem;
}
.contact-form .send-btn {
  width: 115px;
  font-size: 1.1rem;
  font-weight: 600;
  background: #e88f1a;
  cursor: pointer;
}
.contact-form .send-btn:hover {
  background: #e6962d;
}
/* Footer */
footer {
  background: var(--container-color);
  padding: 3rem 0 1rem;
  margin-top: 7rem;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.foot-heading {
  font-size: 3rem;
  font-weight: 600;
  margin: 1.2rem 0;
  color: var(--bg-color);
}
.foot-heading:hover {
  color: var(--bg-color);
}
.footer-link {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-content: end;
}
.link-box .color {
  color: var(--main-color);
}
.link-box h3 {
  padding: 0.1rem 0.4rem;
}
.foot-link {
  color: var(--bg-color);
  padding: 0.1rem 0.5rem;
  border-radius: 0.4rem;
}
.foot-link:hover {
  color: var(--main-color);
  background: #182430;
  transition: 0.3s all linear;
}
.footer-copyright {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 1rem;
}
.footer-copyright .color {
  color: var(--main-color);
}

/* =============
#Responsive
================ */
@media (max-width: 990px) {
  .container {
    margin: 0 auto;
    width: 90%;
  }
}
@media (max-width: 892px) {
  section {
    padding: 2rem 0 2rem;
  }
  .nav {
    padding: 14px 0;
  }
}
